*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
}

body{
    background-image: url(Image/escanor.webp);
    background-size: auto; 
}

header{
    font-size: 35px;
    background-color: transparent;
    text-align: center;
    color: white;
    backdrop-filter: blur(20px);
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-lateral{
    width: 5%;
    backdrop-filter: blur(10px);
    padding:10px 80px 30px 1%;
    box-shadow: 3px 0 0 #61c9c3;
    display: flex;
    flex-direction: column;
}

.itens-menu-lateral{
    /*display: flex;
    /*row-reverse column column-reverse EX1 */
    /* flex-wrap: nowrap; /*wrap wrap-reverse nowrap*/
    /* flex-flow: row nowrap; */
    /*justify-content: flex-start; /* flex-end center space-between space-around Hori */ 
    /* align-items: center; /*stretch center flex-start flex-end baseline  Vertical*/
    border: none;
}

.textolateral{
    display: flex;
    background-color: rgb(9, 130, 236);
}

.imgmenu{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin: 3px;
}

.galeria{
    display: flex;
    flex-flow: row wrap;
    width:95%;
    background-color: blue;
    padding: 3%;
}

section{
    background-color: red;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.anime-nome{
    font-style: italic;
    font-size: 20px;
}


